<!DOCTYPE html>
<html>
<body>
<style>
 
td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
      }
</style>
<table>
  <thead>
    <tr>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Team Name</th>
        <th>Position</th>
        <th>Selected By</th>
        <th>Actual Cost</th>
        <th>Total Points</th>
    </tr>
    </thead>    
    <tbody>
     {% for row in data %}    
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table></body>
</html>